* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 10;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
}

.seat,.seat-5,.seat-1 {
  border-color: green ;
  height: 26px;
  width: 32px;
  margin: 3px;
  font-size: 10px;
  text-align: center;
  padding-top: .5%;
  margin: 10px;
  border: 1px solid green;
  
}

.seat.selected {
  background-color: green;
  color: white;
}
.seat.selected:hover
{
  text
  color: wheat;
}

.seat.sold {
  background-color: gainsboro;
}

/* .seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
} */

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2), green;
  color: green;
}

.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}

.row,.row-1 {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-58deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}
.Button
{
  background-color: rgb(218, 23, 23);
}

p.text span {
  color:white;
}
#row_name
{
  padding-top: 1.5%;
}
.seat-5
{
 margin-left: 5%;
}
.seat-1
{
  margin-left: 25%;
}